<section class="bg-[#FCFBFB] h-screen w-[770px]  pt-10 md:pt-36 hidden md:block">
    <div class="flex flex-col items-center justify-center space-y-16 ">
        <div class="space-y-2">
            <h1 class="text-3xl text-gray-900 text-start font-bold">
                <span class="text-[#D66017]">Welcome to coffee name!</span> 
            </h1>
            <p class="text-gray-900 text-start  text-lg">
                Let’s begin the adventure
            </p>
        </div>
        <img src="/assets/imgs/picLogin.png" alt="" class="h-[340px] w-auto hidden md:block">
    </div>
    
</section>