<div class="m-5">
    <a  [routerLink]="['/']" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap "><img src="/assets/imgs/Logo_DD_dark.png" alt="" width="160px"></span>
    </a>
</div>
<section class=" flex items-center justify-center mt-20">
    
    <div class="flex flex-col items-center justify-center space-y-20">
        <div class="space-y-2">
            <h1 class="text-3xl text-gray-900 text-start font-bold">
                <span class="text-[#D66017]">Welcome back !</span> 
            </h1>
            <p class="text-gray-900 text-start  text-lg">
               You can sign in to access with your existing account.
            </p>
        </div>
        <img src="/assets/imgs/picLogin.png" alt="" class="h-[340px] w-auto hidden md:block">
    </div>

</section>