<section class=" m-6 xl:m-10 xl:mr-0 xl:ml-20 pt-10 sm:pt-10 xl:p-16  md:mr-0 h-full bg-[#fcf8f5] drop-shadow-xl rounded-lg">
    <div class="space-y-6">
        <h1 class="text-xl xl:text-3xl text-black text-center xl:text-start font-semibold">
            The best place for playing, we can't wait to see you!
        </h1>
        <p class="text-black text-center xl:text-start" >
            Sign in to your account to start exploring our menu, reserve your table, and join us for a fun-filled experience like no other. Let the games begin!
        </p>
    </div>
    <img src="../../../../assets/imgs/picLogin.png" alt="" class=" h-80 w-11/12 hidden xl:flex md:flex sm:flex">
</section>