<section class="">
    <div class="space-y-16 my-16 md:my-28">
    <h1 class="font-bold text-xl text-center md:text-2xl">
        Vous avez des <span class="text-[#ea803f] uppercase">questions</span> ?
        Nous avons des <span class="text-[#ea803f] uppercase">réponses</span>.
    </h1>
    <div class="flex flex-col gap-6 mx-10 mt-16 md:mx-24 md:flex-row">
        <div class="block max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">
               Games
            </h5>
            <p class="font-normal text-gray-700 text-center">
                Here are the biggest enterprise technology acquisitions of 2021 so far,
                in reverse chronological order.
            </p>
        </div>
        <div class="block max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">
               Games
            </h5>
            <p class="font-normal text-gray-700 text-center">
                Here are the biggest enterprise technology acquisitions of 2021 so far,
                in reverse chronological order.
            </p>
        </div>
        <div class="block max-w-xs p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 text-center">
               Games
            </h5>
            <p class="font-normal text-gray-700 text-center">
                Here are the biggest enterprise technology acquisitions of 2021 so far,
                in reverse chronological order.
            </p>
        </div>
    </div>
</div>
</section>